<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size="3">
        <i class="fa fa-file" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="9">
        <ion-text>Fazer Upload de Arquivos</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <i class="fa fa-folder"></i>
      </ion-col>
      <ion-col size="9">
        Fazer Upload de Pasta
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row>
      <ion-col size="3">
        <ion-icon name="folder-open-outline"></ion-icon>
      </ion-col>
      <ion-col size="9">
        Escanear Documento
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <i class="fa fa-camera" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="9">
        Capturar
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row>
      <ion-col size="3">
        <i class="fa fa-folder-open" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="9" (click)="criarNovoDiretorio()">
        Criar nova Pasta
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <i class="fa fa-file-text" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="9">
        Criar um documento de texto novo
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
