<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="redirecionarPaginaAnterior()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Nuvem de Arquivos</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngFor="let item of diretorioSecundarioList">

    <ion-row>

      <ion-col size="2" (click)="recuperarDiretorioSegundoNivel(item.codigo)">
        <ion-img src="../../../assets/folder.png"></ion-img>
      </ion-col>

      <ion-col size="8" (click)="recuperarDiretorioSegundoNivel(item.codigo)">
        <ion-text>
          {{ item.nome }}
          <p>{{ item.subdiretorioList.length + " Pastas" }}</p>
        </ion-text>
      </ion-col>

      <ion-col size="2">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid *ngFor="let item of arquivoDomainList">

    <ion-row>

      <ion-col size="2">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </ion-col>

      <ion-col size="8">
        <ion-text>
          {{ item.nome }}
          <p>{{ item.tamanho }} 01/12/2022</p>
        </ion-text>
      </ion-col>

      <ion-col size="2">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
